@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{margin: 0; padding: 0; font-family: 'Poppins', sans-serif;;}

main{
max-width: 1140px;
margin: 0 auto;
}
section{
    margin-top: 30px;
}
/* Header style  */
header{
    padding: 0 100px;
}

.logo{
    font-size: 24px;
    font-weight: 700;
    color: #3A3A3A;
}
.menu{
    display: flex;
    justify-content: end;
    align-items: center;
}

.menu-item{
    font-size: 16px;
    font-weight: 600;
    color:#3A3A3A;
    margin-left: 30px;
}
.fa-magnifying-glass, .fa-cart-shopping{
    font-size: 24px;
}

/* banner styles  */
.banner-cam{
    background-image: url('../images/Circle\ design.svg');
    background-repeat: no-repeat; 
    background-position: center right;
    background-size: contain;
    width: 50%;
    text-align: right;
    padding: 20px 0;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

.content{
    width: 50%;
}

.banner-title{
    font-size: 52px;
    font-weight: 700;
    color:#3A3A3A;
}

.banner-text{
    font-size: 16px;
    font-weight: 600;
    margin: 5px 0 30px;
}

.btn-banner{
    color:#fff; 
    font-size: 16px;
    font-weight: 700;
    background-color: #E02C6D;
    border-radius: 50px;
    padding:10px 30px;
    border: 0;
}

/*-- Brand section  --*/
    .brands{
        display: flex;
        align-items: center;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        padding: 30px;
        gap: 50px;
        justify-content: space-between;
        margin-top: 80px;

     }
/* Popular collection styles  */
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.section-title{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin: 100px 0 50px;
}
.collection{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding:15px;
}

.collection img{
    width: 100%;
}
.item-title{
    font-size: 28px;
    font-weight: 500;
    color:#18191F;
}

.price{
    font-size: 24px;
    font-weight: 400;
    color:#18191F;
}
.description, .rating-text{
    font-size: 14px;
    font-weight: 600;
    color:#787885;
}

.fa-star, .fa-star-half-stroke{
    font-size: 12px;
    color:#FB8200;
}

.see-more{
    text-decoration: none;
    float: right;
    color: #E02C6D;
    font-weight: 700;
    font-size: 16px;
    margin: 50px 0;
}

/* Featured products  */
.featured{
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 130px;
}
.feature-title{
    font-size: 38px;
    font-weight: 700;
    color:#0A0826;
}

.feature-des{
    font-size: 16px;
    font-weight: 700;
    color:#6C6C6C;
    margin: 5px 60px 20px 0;
}

.btn-featured{
    color:#fff; 
    font-size: 16px;
    font-weight: 700;
    background-color: #E02C6D;
    padding:10px 30px;
    border: 0;
}

/* Footer styles  */
footer{
    background:#0A0826;
    color:#fff;
    padding:70px;
    text-align: center;
    margin-top: 80px;
}
.footer-title{
    color:#fff;
    font-weight: 600;
    font-size: 24px;
}
.copyright{
    font-size:14px;
    font-weight:500;
    margin: 8px 0;
}
.social-icons{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background:rgba(255, 255, 255, 0.103);
}
/* Responsive design  */
@media only screen and (max-width:576px) {
    header{
        padding: 0 20px;
    }
    .menu-item{margin-left: 0;}
    .logo{
        text-align: center;
        font-size: 18px;
    }
    .fa-bars, .fa-cart-shopping{
        font-size: 20px;
    }
    .banner{
        flex-direction: column-reverse;
        
    }
    .banner-cam{
        background-position: center;
        background-size: 80%;
        width: 100%;
        text-align: center;
        margin:50px 0 20px;
    }
    .content{
        width:100%;
        padding: 20px 0;
    }
    .banner-cam img{
        width: 250px;
    }
    .banner-title{
        font-size: 32px;
        
    }

    .brands{
        flex-wrap: wrap;
        gap:10px;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
    }
    .products{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        padding:0 20px;
    }
    .see-more{
        padding-right: 20px;
    }
    .featured{
        flex-direction: column;
        padding: 20px;
        gap:25px
    }
    .featured img{
        width: 100%;
    }
    .feature-title{
        font-size: 30px;
    }
}


@media only screen and (min-width:769px) {
    
    .desktop{
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 130px;
    }
    .mobile{
        display: none;
    }
}